body {
  background-image: url(/img/pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.jumbotron {
  text-align: center;
  background-color: burlywood;
  opacity: 0.9;
}

#order-space, #price-display{
  display: none;
}

#order-selection {
  background-color: burlywood;
  opacity: 0.9;
  padding: 25px;
  border-style: ridge;
}

#price-display {
  background-color: burlywood;
  opacity: 0.9;
  padding: 25px;
  border-style: ridge;
}