.jumbotron {
  text-align: center;
}

#order-selection {
  background-color: aquamarine;
  padding: 25px;
  border-style: ridge;
}

#price-display {
  background-color: burlywood;
  padding: 25px;
  border-style: ridge;
}